@import '~bootstrap/dist/css/bootstrap.css';
@import '~argon-design-system-react/src/assets/vendor/nucleo/css/nucleo.css';
@import '~argon-design-system-react/src/assets/vendor/font-awesome/css/font-awesome.min.css';
@import '~argon-design-system-react/src/assets/scss/argon-design-system-react.scss';


.container-editor {
  padding: 20px;
}

.container-row {
  height: 100%
}

.menu-color {
  background-color:#f4f5f7;
}